export RESTIC_REST_PASSWORD="a-very-strong-and-long-password"
export RESTIC_REST_USERNAME="your-rest-server-user"
export RESTIC_REPOSITORY="rest:http://your-rest-server-ip:12345/restic"
export RESTIC_PASSWORD="a-very-strong-and-long-password"